body {
    font-family: 'Nunito', sans-serif;
    background-image:linear-gradient(to bottom left, rgba(243, 156, 18,1.0),
    rgb(255, 177, 67),
    rgba(255, 194, 108, 1));
    text-align: center;
}
#title {
    font-weight: bold;
    padding: 24px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
#submit {
    background-image:linear-gradient(to right, rgba(243, 156, 18,1.0),
    rgb(255, 177, 67));
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 10px;
    border-radius: 5px;
    min-width: 20%;
    margin: auto;
    cursor: pointer;
}
#reset {
    color: rgba(243, 156, 18,1.0);
    border: 1px solid rgba(243, 156, 18,1.0);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    min-width: 20%;
    margin: auto;
    cursor: pointer;
}
.form-section {
    display: flex;
    flex-flow: column;
    background-color: rgba(255, 255, 255,1);
    border-radius: 5px;
    padding: 2.5em;
}
#survey-form {
    display: grid;
    font-family: 'Playfair Display', serif;
}
.row {
    display: flex;
}
.center {
    width: 60%;
    margin: 0 auto;
}
#dropdown,
#like {
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 5px;
}
#description,
form > label  {
    margin-bottom: 24px;
}
#description{
    font-size: 2.25rem;
}
form {
    font-size: 1.2rem;
}
#number-label {
    padding: 8px 0;
}
[name="name"],
[name="email"],
[name="number"] {
    width: 35%;
}

[name="number"] {
    width: 36%;
}
.label-section {
    margin: auto 16px auto 0;
    width: 55%;
    text-align: right;
}
.line {
    line-height: 31.06px;
}
.inline {
    display: grid;
}
.block,
[for^="choose"] {
    justify-self: start;
}
[name ="dropdown"],
[name ="like"]
 {
    border: 1px solid #c0c0c0;
}
.margin-right{
    margin: 0 16px 0 0;
}
