body {
    font-family: 'Raleway', Helvetica, sans-serif;
    background-color: orange;
    text-align: center;
}
#title {
    font-weight: bold;
    padding: 24px;
    font-size: 2em;
}
#submit {
    background-color: orange;
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 10px;
    border-radius: 5px;
    min-width: 20%;
    margin: auto;
    cursor: pointer;
}
#reset {
    color: rgba(0, 0, 0, 1);
    border: 1px solid orange;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    min-width: 20%;
    margin: auto;
    cursor: pointer;
}
.form-section {
    display: flex;
    flex-flow: column;
}
#survey-form {
    display: grid;
}
.row {
    display: flex;
}
.center {
    width: 60%;
    margin: 0 auto;
}
.form-section {
    background-color: #fff;
    border-radius: 5px;
    padding: 2.5em;
}
#dropdown,
#like {
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 5px;
}
#description,
form > label  {
    margin-bottom: 24px;
}
#number-label {
    padding: 8px 0;
}
[name="name"],
[name="email"],
[name="number"] {
    width: 35%;
}
[name="name"],
[name="email"],
[name="number"] {
    border: none;
    border-bottom: 2px solid aqua;
}
[name="number"] {
    width: 36%;
}
.label-section {
    margin: auto 16px auto 0;
    width: 45%;
    text-align: right;
}
.line {
    line-height: 25.88px;
}
.inline {
    display: grid;
}
.block,
[for^="choose"] {
    justify-self: start;
}
[name ="dropdown"],
[name ="like"]
 {
    border: 1px solid #c0c0c0;
}
.margin-right{
    margin: 0 16px 0 0;
}
